<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/mainboard/main.css">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<!-- <script defer="defer" src="/js/mainboard/main.js"></script> -->
<head>
<meta charset="UTF-8">
<title>메인 게시판</title>
</head>
<body>
	<!-- 
		검색 기능 구현완료
		(추가예정: 검색 특정 단어 하이라이트 효과, 검색 시 게시판 Ajax로 교체, 좋아요 기능, 이미지 Ajax로 교체, 프로필)
	 -->
	<header th:include="headerNav"></header>
	<main>
		<div id="container" style="background-color: #f7f7f7; border: 1px solid #fff">
			<div class="w-50 p-3 mt-5" id="mainboardInsert">
				<div id=userProfile>
					<img src="/img/profile.png">
				</div>
				<!-- userNo=${session.loginUser?.user_no} 여기 ? 오타아닙니다. ? 지우면 에러나요! -->
				<a th:href="@{/mainboard/insert(userNo=${session.loginUser?.user_no})}" id=insertPlaceholder class="w-100">
					<span style="font-size: 14px; font-weight: bold;">나누고 싶은 생각이 있으신가요?</span>
				</a>
			</div>
			<!-- 게시글 검색 찾기 구현 예정 -->
			<form class="d-flex mt-3 w-50" style="margin: 0 auto;" action="/mainboard/search" method="post" name="searchMainBoard">
				<div class="me-1">
					<select name="searchConcept" class="form-select form-select-sm p-2" aria-label=".form-select-sm example" style="cursor: pointer;">
						<option value="제목">제목</option>
						<option value="내용">내용</option>
						<option value="작성자명">작성자명</option>
						<option value="키워드">키워드</option>
					</select>
				</div>
				<div class="input-group d-flex align-items-center">
	  				<input id="searching" name="searching" type="text" class="form-control" placeholder="원하시는 게시글을 검색해서 찾아보세요!" aria-label="Recipient's username" aria-describedby="button-addon2">
	  				<button class="btn btn-outline-info" type="submit" id="button-addon2">검색</button>
	  				<a href="/mainboard/main" class="btn btn-outline-info align-middle" type="button" id="button-addon2">전체 게시글</a>
				</div>
			</form>
			
			<!-- <div class="post-container">에는 게시판만 넣어주세요. 반복문입니다. -->
			<div id="postList" class="post-container w-50 p-3 h-25" th:each="main : ${mainList}" style="margin-top: 50px;">	
				<div class="boardInfo d-flex justify-content-between">
					<div class="boardProfile d-flex align-self-center">
						<a href="#">	<!-- 작성자 프로필: user에서 프로필이미지 저장 된다면 그 프로필 이미지로 교체 -->
							<img class="align-middle" src="/img/profile.png">
						</a>
						<div class="userInfo d-flex flex-column align-self-center">
							<div><span style="font-size: 14px" class="align-middle" th:text="${main.userName}"><strong></strong></span></div>
							<div style="font-size: 9px; margin-top: 0; color: #d7d3cd">
								<span th:text="${main.userCompany}"></span>	<!-- 작성자 소속 -->
								<span>·</span>
								<span th:text="${main.keywordName}"></span>	<!-- 게시글 키워드 -->
								<span>·</span>
								<span th:text="${#dates.format(main.mainboardTime,'yyyy-MM-dd HH:mm')}"></span>	<!-- 게시글 등록된 시간 -->
							</div>
						</div>
					</div>
					<div class="followBtn d-flex justify-content-end me-3">
						<button class="h-50 mt-3" style="font-weight: 1000;">팔로우</button>
					</div>
				</div>
				<div class="boardMain">	
					<div class="boardTitle mt-2 ms-3">
						<div>
							<!-- 게시글 제목 -->
							<span><strong th:text="${main.mainboardTitle}"></strong></span>
						</div>
					</div>
					<div class="boardContents mt-2 ms-3">
						<div>
							<span th:text="${main.mainboardContents}"></span>
						</div>	<!-- 더보기 기능 how??? -->
					</div>
					<div class="boardFile w-75">
						<!-- 링크 -->
						<div class="boardLink">
							<span th:if="${not #strings.isEmpty(main.mainboardLink)}" th:text="${main.mainboardLink}"></span>
							<span th:unless="${not #strings.isEmpty(main.mainboardLink)}" th:text="|< ${main.userName}님이 추가한 링크가 없습니다. >|"></span>
						</div>
						<!-- 이미지 -->
						<th:block th:if="${main.mainboardImg!=null}">
							<div class="boardImg">
								<img th:src="@{/fakerlyImg/{file}(file=${main.mainboardImg})}" style="width: 100px; height: 100px;">
							</div>
						</th:block>
					</div>
				</div>
				<div class="boardData">	<!-- 게시글 좋아요 수, 조회 수 -->
					<div class="preferCount" style="margin-left: 30px;">
						<a href="#">	<!-- 누르면 좋아요 누른 사람의 리스트 -->
							<span>좋아요</span> 
							<span><strong th:text=${main.prefer}>(좋아요 수)</strong></span>
						</a>
					</div>
					<div class="boardView" style="margin-right: 30px;">
						<span>조회</span>
						<span><strong th:text="${main.mainboardView}"></strong></span>
					</div>
				</div>
				<div class="boardBtn d-flex justify-content-between">
					<div class="d-flex">
						<div class="boardPrefer">
							<a class="btn" href="#">
								<img src="/img/mainboardPrefer.png" style="width: 13px; height: 13px;">
								<span style="font-size: 13px; font-weight: bold;">좋아요</span>	<!-- 좋아요 버튼 -->
							</a>
						</div>
						<div class="boardComment">
							<a th:href="@{/mainboard/detail(mainboardNo=${main.mainboardNo})}">
								<img src="/img/mainboardComments.png">	<!-- 댓글창 가는 버튼 -->
							</a>
						</div>
					</div>
					<div>
						<div class="d-flex">
							<div class="me-2">
								<!-- 게시글 수정버튼 -->
								<a th:href="@{/mainboard/update(mainboardNo=${main.mainboardNo})}" class="btn btn-outline-secondary btn-sm">
									수정
								</a>
							</div>
							<div>
								<!-- 삭제 모달 호출 -->
								<button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal">
									삭제
								</button>
								
								<!-- 삭제 확인용 Modal -->
								<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
									<div class="modal-dialog">
										<div class="modal-content">
											<div class="modal-header">
								        		<h1 class="modal-title fs-5" id="exampleModalLabel">게시글 삭제</h1>
								        		<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
								      		</div>
								      		<div class="modal-body">
								        		게시글을 삭제하시겠습니까?
								      		</div>
								      		<div class="modal-footer">
								        		<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
								        			취소
								        		</button>
								        		<a th:href="@{/mainboard/delete(mainboardNo=${main.mainboardNo})}" class="btn btn-outline-danger btn-sm">
								        			삭제
								        		</a>
								      		</div>
								    	</div>
								  	</div>
								</div>
							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
	</main>
	<aside th:include="side"></aside>
</body>
</html>