
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>유저 프로필 페이지</title>
<link rel="stylesheet" href="/css/mainboard/profile.css">
</head>
<body>
<header th:include="headerNav"></header>
<div th:include="/sideboard/test"></div>

<div class="containers">

<div class="user-info">
	<div class="user-img-div">
		<img class="user-img" src="../img/userprofile.jpg"> <!-- 요기에 유저 이미지 넣기 (일단 없으니까 대충넣기) -->
		
	</div>
	<div class="user-names">
		<p th:text="${user.user_name}"></p>(
		<p th:text="${user.nickname}"></p>)
		<i class="bi bi-pencil" th:onclick="location.href='/user/modifyPassword.do'" style="cursor: pointer;"></i> <!-- 이거 클릭시 비밀번호 수정할 수 있게끔 !!!! -->
	</div>
	<div class="user-company">
		<i class="bi bi-mortarboard"></i>
		<p th:text="${user.company}" class="user-company-p"></p>   
	</div>
</div>
<div class="board-info">
	<div class="input-board" th:onclick="location:href"> <!-- th:onclick="location.href='insert?userNo'=[[${session.loginUser?.user_no}]]" -->
		<div class="input-board-img"> <!-- 게시글 작성 part -->
			<img alt="" src="../img/userprofile.jpg">
		</div>
		<div class="input-board-div">
			나누고 싶은 생각이 있으신가요?
		</div>
	</div>
	<div class="content-list"> <!-- 게시글 전체 -->
	
		<div th:each="profile:${profileList}" class="contents"> <!-- 게시글 출력 part -->
			<div class="contents-header">
				<div class="contents-img">
					<img alt="" src="../img/userprofile.jpg">
				</div>
				<div class="contents-header-div">
					<div class="contents-header-username">
					 		<p th:text="${user.user_name}"></p>(
							<p th:text="${user.nickname}"></p>)
					</div>
					<div class="contents-header-etc">
						<p th:text="${user.company}"></p> 
						<p th:text="${profile.mainboardTime}"></p>
					</div>
				</div>
				
			</div>
			<div th:text="${profile.mainboardTitle}" class="title"></div>
			<div th:text="${profile.mainboardContents}" class="article"></div>
			<div class="link">
				<p th:if="${profile.mainboardLink ==''}" class="link-text">작성한 링크가 없습니다</p>
				<p th:text="${profile.mainboardLink}" class="link-text"></p>
			</div>
			<div class="etc">
				<p>좋아요 [[${profile.prefer}]]</p>
				<p>조회 [[${profile.mainboardView}]]</p>
			</div>
			
			<div class="etc">
				<div>
					<i class="bi bi-hand-thumbs-up"></i>
					<span>&nbsp;&nbsp;좋아요</span>
				</div>
				<div>
					<i class="bi bi-chat-left-dots"></i>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
</body>
</html>