<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Fakerly 메인 게시판 글 수정</title>
<link rel="stylesheet" href="/css/mainboard/insert.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/js/mainboard/insert.js"></script>
</head>
<body>
	<!-- 메인 게시글 수정 폼 -->
	<!-- id가 insertform으로 되어있는데 바꾸면 css 아예 다 나가서 그냥 그대로 쓰겠습니다. -->
	<form id="MainBoardInsert_Form" action="/mainboard/update" method="post" enctype="multipart/form-data">
		<input type="hidden" name="userNo" th:value="${session.loginUser.user_no}">
		<input type="hidden" name="mainboardNo" th:value="${mainboard.mainboardNo}">
		<div id="MainBoardNav">
			<img onclick="goBack()" alt="preferPageImg" src="/img/mainboard_arrow.png">
			<div>
				<a class="btn" href="/mainboard/main">취소</a>
				<button class="button">수정</button>
			</div>
		</div>
		<div id="MainboardAddFile" class="d-flex justify-content-between">
			<div style="border: none;">
				<img onclick="showLink()" alt="linkImg" src="/img/mainboard_link.png">
				<img onclick="showImg()"  alt="fileImg" src="/img/mainboard_picture.png">
			</div> 
			<div style="border: none;">
				<select name="keywordNo" class="form-select form-select-sm ws-25" aria-label=".form-select-sm example">
					<!-- 다른 분들은 value를 1~5로 하시면 됩니다. -->
					<option value="2">HTML</option>
					<option value="3">CSS</option>
					<option value="4">JS</option>
					<option value="5">Java</option>
					<option value="6">AJAX</option>
				</select>
			</div>
		</div>
		<div id="Mainboard">
			<div id="MainboardTitle">
				<input type="text" name="mainboardTitle" th:value=${mainboard.mainboardTitle} maxlength="100">
			</div>
			<div id="MainboardContents">
				<div class="mb-2 mt-3" id="linkInputContainer" style="display: none;">
					<input name="mainboardLink" class="form-control" type="text" th:value="${mainboard.mainboardLink}" aria-label="default input example">
				</div>
				<div class="mb-3" id="fileInputContainer" style="display: none;">
					<input class="form-control text text-muted" type="file" id="mainboardImg" name="img">
				</div>
				<textarea name="mainboardContents" maxlength="254" th:text="${mainboard.mainboardContents}"></textarea>
			</div>
		</div>
	</form>
	<th:block th:if="${session.msg!=null}">
		<script th:inline="javascript">
		let msg=/*[[${session.msg}]]*/+"";
		alert(msg);
		/*[[${#session.removeAttribute('msg')}]]*/
		</script>
	</th:block>
</body>
</html>