<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.joongbu.fakerly.mapper.ItemsMapper">

	<resultMap type="com.joongbu.fakerly.dto.KeywordDto" id="KeywordMap">
		<id column="keyword_no" property="keywordNo"/>
		<result column="keyword_name" property="keywordName"/>
	</resultMap>

	<select id="keywordList" resultMap="KeywordMap">
		select * from keyword 
		where keyword_no not in (select keyword_no from user_keyword where user_no=#{userNo})
	</select>
	
	<insert id="insertUserKeyword">
		insert into user_keyword 
		(user_no, keyword_no)
		values 
		(#{userNo},#{keywordNo})
	</insert>
</mapper>