<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joongbu.fakerly.mapper.MainBoardMapper">
	<resultMap type="MainBoardDto" id="MainBoardMap">
		<id column="mainboard_no" property="mainboardNo"/>
		<result column="user_no" property="userNo"/>
		<result column="keyword_no" property="keywordNo"/>
		<result column="mainboard_title" property="mainboardTitle"/>
		<result column="mainboard_contents" property="mainboardContents"/>
		<result column="mainboard_view" property="mainboardView"/>
		<result column="mainboard_link" property="mainboardLink"/>
		<result column="mainboard_time" property="mainboardTime"/>
		<collection property="replyList" ofType="MainReplyDto">
			<id column="main_reply_no" property="main_reply_no"/>
			<result column="r_contents" property="contents"/>
			<result column="r_hierarchy" property="hierarchy"/>
			<result column="r_depth" property="depth"/>
			<result column="r_group_no" property="group_no"/>
			<result column="r_reply_time" property="reply_time"/>
			<result column="r_user_no" property="user_no"/>
		</collection>
	</resultMap>
	<select id="list" resultMap="MainBoardMap">
		<!-- SELECT m.*,u.user_name FROM mainboard m INNER JOIN user u ON m.user_no=u.user_no -->
		SELECT * FROM mainboard ORDER BY mainboard_no DESC
	</select>
	<select id="detail" resultMap="MainBoardMap">
		SELECT b.* 
		FROM mainboard b 
		LEFT JOIN main_reply r USING(mainboard_no)
		WHERE mainboard_no=#{mainboardNo}
	</select>
	<select id="detailReply" resultMap="MainBoardMap">
		SELECT b.*,
			r.main_reply_no,
			r.contents r_contents,
			r.hierarchy r_hierarchy,
			r.depth r_depth,
			r.group_no r_group_no,
			r.reply_time r_reply_time,
			r.user_no r_user_no
			FROM mainboard b
			LEFT JOIN main_reply r USING(mainboard_no)
			WHERE mainboard_no=#{mainboardNo}
	</select>
	
	
	<insert id="insert" parameterType="MainBoardDto" useGeneratedKeys="true" keyProperty="mainboardNo">
		<!-- user_no와 keyword_no 작성자의 아이디와 키워드를 가져올 예정 -->
		INSERT INTO mainboard
		(user_no,keyword_no,mainboard_title, mainboard_contents,mainboard_view,mainboard_link)
     	VALUES
     	(1,1,#{mainboardTitle},#{mainboardContents},#{mainboardView},#{mainboardLink})
	</insert>
	
</mapper>