<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.joongbu.fakerly.mapper.MainBoardMapper">
	<resultMap type="MainBoardDto" id="MainBoardMap">
		<id column="mainboard_no" property="mainboardNo"/>
		<result column="user_no" property="userNo"/>
		<result column="keyword_no" property="keywordNo"/>
		<result column="keyword_name" property="keywordName"/>
		<result column="mainboard_title" property="mainboardTitle"/>
		<result column="mainboard_contents" property="mainboardContents"/>
		<result column="mainboard_view" property="mainboardView"/>
		<result column="mainboard_img" property="mainboardImg"/>
		<result column="mainboard_link" property="mainboardLink"/>
		<result column="mainboard_time" property="mainboardTime"/>
		<result column="user_name" property="userName"/>
		<result column="company" property="userCompany"/>
		<result column="prefer" property="prefer"/>
		<!--  <collection property="preferList" ofType="MainBoardPreferDto">
			<id column="mainboard_prefer_no" property="mainboardPreferNo"/>
			<result column="mainboard_no" property="mainboardNo"/>
			<result column="mainboard_prefer" property="mainboardPrefer"/>
			<result column="user_no" property="userNo"/>
		</collection> -->
		

		<collection property="replyList" ofType="MainReplyDto">
			<id column="main_reply_no" property="main_reply_no"/>
			<result column="r_contents" property="contents"/>
			<result column="r_hierarchy" property="hierarchy"/>
			<result column="r_group_no" property="group_no"/>
			<result column="r_reply_time" property="reply_time"/>
			<result column="r_user_no" property="user_no"/>
			<result column="r_mainboard_no" property="mainboard_no"/>
		</collection>

	</resultMap>
	
	<select id="list" resultMap="MainBoardMap">
		SELECT m.*,u.user_name,u.company,
		(SELECT COUNT(*) FROM mainboard_prefer mp WHERE mp.mainboard_no=m.mainboard_no),
		(SELECT k.keyword_name FROM keyword k WHERE m.keyword_no=k.keyword_no) keyword_name
		FROM mainboard m INNER JOIN user u 
		ON m.user_no=u.user_no ORDER BY m.mainboard_no DESC
	</select>

	<!--<insert id="insert" parameterType="MainBoardDto"> 이거 충돌 났어요 !!-->

	<select id="detail" resultMap="MainBoardMap">
		SELECT b.* 
		FROM mainboard b 
		LEFT JOIN main_reply r USING(mainboard_no)
		WHERE mainboard_no=#{mainboardNo}
	</select>
	<select id="detailReply" resultMap="MainBoardMap">
		SELECT b.*,
			r.main_reply_no,
			r.contents r_contents,
			r.hierarchy r_hierarchy,
			r.group_no r_group_no,
			r.reply_time r_reply_time,
			r.user_no r_user_no,
			r.mainboard_no r_mainboard_no,
			u.user_name,
			u.company
			FROM mainboard b
			LEFT JOIN user u USING(user_no) 
			LEFT JOIN main_reply r USING(mainboard_no)
			WHERE mainboard_no=#{mainboardNo}
	</select>
	
	<insert id="insert" parameterType="MainBoardDto" useGeneratedKeys="true" keyProperty="mainboardNo">
		INSERT INTO mainboard
		(user_no,keyword_no,mainboard_title,mainboard_contents,mainboard_view,mainboard_img,mainboard_link)
		VALUES
		(#{userNo},#{keywordNo},#{mainboardTitle},#{mainboardContents},#{mainboardView},#{mainboardImg},#{mainboardLink})
	</insert>
	
	<!-- 임시게시판 insert -->
	<insert id="tempInsert" parameterType="MainBoardDto">
		INSERT INTO tempboard
		(user_no,title,keyword_no,contents,img,link)
		VALUES
		(#{userNo},#{mainboardTitle},#{keywordNo},#{mainboardContents},#{mainboardImg},#{mainboardLink})
	</insert>
	<!-- 임시게시판 detail -->
	<select id="tempDetail" resultMap="MainBoardMap">
		select *
		from mainboard WHERE user_no=#{userNo}
 	</select>
	
	<update id="viewUpdate" parameterType="int">
		UPDATE mainboard SET
		mainboard_view=mainboard_view+1
		WHERE mainboard_no=#{mainboardNo}
	</update>
	<update id="update" parameterType="MainBoardDto">
		UPDATE mainboard SET
		mainboard_title=#{mainboardTitle},
		mainboard_contents=#{mainboardContents},
		mainboard_img=#{mainboardImg},
		mainboard_link=#{mainboardLink},
		keyword_no=#{keywordNo}
		WHERE mainboard_no=#{mainboardNo}
	</update>
	
	<delete id="delete">
		DELETE FROM mainboard
		WHERE mainboard_no=#{mainboardNo}
	</delete>

	

	<select id="profileList" resultMap="MainBoardMap">

		select *,
		(select count(*) from mainboard_prefer mp where mp.mainboard_no=m.mainboard_no) prefer
		from mainboard m where user_no=#{userNo}
	</select>

	<!-- 주제로 검색 -->
	<select id="searchTitle" resultMap="MainBoardMap">
		SELECT *,
		(SELECT user_name FROM user WHERE mainboard.user_no=user.user_no) user_name,
		(SELECT company FROM user WHERE user_no=mainboard.user_no) company,
		(SELECT keyword_name FROM keyword WHERE keyword_no=mainboard.keyword_no) keyword_name
		FROM mainboard WHERE mainboard_title LIKE CONCAT('%',#{mainboardTitle},'%')
	</select>
	<!-- 내용으로 검색 -->
	<select id="searchContents" resultMap="MainBoardMap">
		SELECT *,
		(SELECT user_name FROM user WHERE mainboard.user_no=user.user_no) user_name,
		(SELECT company FROM user WHERE user_no=mainboard.user_no) company,
		(SELECT keyword_name FROM keyword WHERE keyword_no=mainboard.keyword_no) keyword_name
		FROM mainboard WHERE mainboard_contents LIKE CONCAT('%',#{mainboardContents},'%')
	</select>
	<!-- 작성자명으로 검색 -->
	<select id="searchName" resultMap="MainBoardMap">
		SELECT 
		*,
		(SELECT user_name FROM user WHERE user_no=mainboard.user_no) user_name,
		(SELECT company FROM user WHERE user_no=mainboard.user_no) company,
		(SELECT keyword_name FROM keyword WHERE keyword_no=mainboard.keyword_no) keyword_name
		FROM mainboard 
		WHERE user_no IN(SELECT user_no FROM user WHERE user_name LIKE CONCAT('%',#{userName},'%'))
		ORDER BY mainboard_no DESC
	</select>
	<!-- 키워드명으로 검색 -->
	<select id="searchKeyword" resultMap="MainBoardMap">
		SELECT
		*,
		(SELECT company FROM user WHERE user_no=mainboard.user_no) company, 
		(SELECT user_name FROM user WHERE user_no=mainboard.user_no) user_name,
		(SELECT keyword_name FROM keyword WHERE keyword_no=mainboard.keyword_no) keyword_name
		FROM mainboard
		WHERE keyword_no IN(SELECT keyword_no FROM keyword WHERE keyword_name LIKE CONCAT('%',#{keywordName},'%'))
	</select>
	
	
</mapper>















	
	