<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.joongbu.fakerly.mapper.QnaImgMapper">
  <resultMap type="QnaImgDto" id="QnaImgMap">
  	<id column="qa_img_no" property="qaImgNo"/>
  	<result column="img_path" property="img_path"></result>
  	<association property="qna" foreignColumn="qaNo">
  		<id column="qaNo" property="qaNo"/>
	</association>
  </resultMap>

	<insert id="insert" parameterType="SideRoleDto">
		INSERT INTO SIDE_ROLE (side_board_no,side_role_no) VALUE(#{sideBoardNo},#{sideRoleNo});
	</insert>
	<delete id="delete">
		DELETE FROM SIDE_ROLE WHERE side_board_no=#{sideBoardNo}
	</delete>
  </mapper>