<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.joongbu.fakerly.mapper.TempBoardMapper">
  <resultMap type="TempBoardDto" id="TempBoardMap">
  	<id column="temp_no" property="tempNo"/>
  	<result column="user_no" property="userNo" />
  	<result column="title" property="title" />
  	<result column="keyword_no" property="keywordNo" />
  	<result column="contents" property="contents" />
  	<result column="img" property="img" />
  	<result column="link" property="link" />
  	<result column="time" property="time" />
  </resultMap>
  <select id="templist" resultMap="TempBoardMap">
  	SELECT * FROM tempboard WHERE user_no=#{userNo} ORDER BY temp_no DESC
 <!-- SELECT t.*,u.user_name,u.company,
		(SELECT COUNT(*) FROM tempboard_prefer tf WHERE tf.tempboard_no=m.tempboard_no)
		FROM tempboard t INNER JOIN user u 
		ON t.user_no=u.user_no ORDER BY t.tempboard_no DESC  -->
  </select>
  <insert id="insert" parameterType="TempBoardDto" useGeneratedKeys="true" keyProperty="tempboardNo">
		<!-- user_no와 keyword_no 작성자의 아이디와 키워드를 가져올 예정 -->
		INSERT INTO tempboard 
 		(temp_no, user_no, title, keyword_no, contents, img, link) 
 		VALUES 
 		(#{tempNo}, #{userNo}, #{title}, #{keywordNo}, #{contents}, #{img}, #{link})
	</insert>
	
	<select id="detail" resultMap="TempBoardMap">
		SELECT * 
		FROM tempboard t 
		LEFT JOIN user using(user_no) 
		WHERE temp_no=#{tempNo}
	</select>
  </mapper>
  
<!--
temp_no    | int          | NO   | PRI | NULL              | auto_increment    |
| user_no    | int          | NO   | MUL | NULL              |                   |                                      
| title      | varchar(100) | NO   |     | NULL              |                   |         
| keyword_no | int          | NO   | MUL | NULL              |                   |       
| contents   | varchar(255) | NO   |     | NULL              |                   |       
| img        | blob         | YES  |     | NULL              |                   |       
| link       | varchar(255) | YES  |     | NULL              |                   |       
| time       | datetime     | YES  |     | CURRENT_TIMESTAMP | DEFAULT_GENERATED
  public class TempBoardDto {
	private int tempNo;
	private int userId;
	private String title;
	private int keywordNo;
	private String contents;
	private Blob img;
	private String link;
	private Date dataTime;
}-->