<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

 <mapper namespace="com.joongbu.fakerly.mapper.UserMapper">
 	<select id="login" resultType="com.joongbu.fakerly.dto.UserDto">
		SELECT * FROM user
		WHERE email = #{email}
	</select>
	<select id="findUserEmail" resultType="com.joongbu.fakerly.dto.UserDto">
		SELECT * FROM user
		WHERE phone = #{fPhone}
	</select>
	<select id="findUserPassword" resultType="com.joongbu.fakerly.dto.UserDto">
		SELECT * FROM user
		WHERE email = #{fEmail}
	</select>
  	<insert id="insert" parameterType="com.joongbu.fakerly.dto.UserDto">
  		insert into user
  		(email, user_name, nickname, pw, auth, birth, phone, state, company, career, aboutme, sex, age, img) 
  		values 
  		(#{email},#{user_name},#{nickname},#{pw},'normal',#{birth},#{phone},'Y',#{company},#{career},#{aboutme},#{sex},#{age},#{img})
  	</insert>
  	<select id="checkNickname" resultType="com.joongbu.fakerly.dto.UserDto">
  		select * from user 
  		where nickname=#{nickname}
  	</select>
  	<update id="updateUserKeyword">
  		update user_keyword 
  		set user_no=(select last_insert_id()) 
  		where user_no=1
  	</update>
  	<update id="updateUserSkill">
  		update user_skill 
  		set user_no=(select last_insert_id()) 
  		where user_no=1
  	</update>
  	<update id="updateUserLicense">
  		update user_license 
  		set user_no=(select last_insert_id()) 
  		where user_no=1
  	</update>
</mapper>

