<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/mainreply/list.css">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/js/mainboard/detail.js"></script>


<!-- 
1. hierarchy -> 일반 댓글인것만 div 출력 (댓글 : 0, 대댓 : 1)
2. group_no -> 대댓글인 것만 if 문으로 값 넣기 (댓글 : null, 대댓 : 부모 reply_no)
 -->

		
  		<div th:each="reply_up:${mainboard.replyList}" class="replydiv" th:if="${reply_up.hierarchy==0}">
			
			<div class="reply">
				<!-- 기본 출력 댓글 --> 
				<div th:id="'reply_no'+${reply_up.main_reply_no}">
					<div class="replyProfile tw-mb-2 tw-flex tw-flex-row tw-w-full tw-items-center tw-justify-between">
						<div class="d-flex flex-column align-self-center">
							<a href="#">	<!-- 프로필 선택 시 프로필 상세정보로 이동 -->
								<img class="align-middle" src="/img/profile.png">
							</a>
						</div>
						<div class="reply-info">
							<p th:text="${mainboard.userName}"></p>
							<p style="color: #d7d3cd">
								<span th:text="${mainboard.userCompany}"></span>
								 . 
								<span th:text="${#dates.format(reply_up.reply_time, 'yyyy-MM-dd HH:mm')}"></span>
							</p>
							
						</div>
					</div>
					<div class="reply-contents">
						<p th:text="${reply_up.contents}"></p>
					</div>
					<div th:if="${session.loginUser.user_no==reply_up.user_no}" 
						th:id="${reply_up.main_reply_no}"
						class="reply-update">
						<button th:onclick="readReplyUpdateForm([[${reply_up.main_reply_no}]])"
							class="btn btn-outline-dark btn-sm" type="button">
							수정하기
						</button>
						
					</div>
				</div>
				
						<!-- 수정 댓글 출력 -->
				<form action="/reply/update" method="post">
					<input type="hidden" name="main_reply_no" th:value="${reply_up.main_reply_no}">
					<input type="hidden" name="mainboard_no" th:value="${mainboard.mainboardNo}">
					<div th:id="'reply_update'+${reply_up.main_reply_no}" style="display: none;">
						<div class="replyProfile tw-mb-2 tw-flex tw-flex-row tw-w-full tw-items-center tw-justify-between">
							<div class="d-flex flex-column align-self-center">
								<a href="#">	<!-- 프로필 선택 시 프로필 상세정보로 이동 -->
									<img class="align-middle" src="/img/profile.png">
								</a>
							</div>
							<div class="reply-info">
								<p th:text="${mainboard.userName}"></p>
								<p style="color: #d7d3cd">
									<span th:text="${mainboard.userCompany}"></span>
									 . 
									<span th:text="${#dates.format(reply_up.reply_time, 'yyyy-MM-dd HH:mm')}"></span>
								</p>
								
							</div>
						</div>
						<input class="reply-update-contents w-50" name="contents" id="replyContents" th:value="${reply_up.contents}"></input>
						<div class="reply-updateform-btn" th:if="${session.loginUser.user_no==reply_up.user_no}" th:id="${reply_up.main_reply_no}">
							<button th:onclick="readReplyUpdateForm([[${reply_up.main_reply_no}]])"
								class="btn btn-outline-secondary btn-sm" type="button">
								취소
							</button>
							<button class="btn btn-outline-primary btn-sm">
								수정하기
							</button>
							<a th:href="@{/reply/delete(main_reply_no=${reply_up.main_reply_no},mainboard_no=${mainboard.mainboardNo})}" class="btn btn-outline-danger btn-sm">
								삭제
							</a>			
					</div> 
				</form>
					
				
				</div>
				<!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 -->
				<!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 -->
				<!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 --><!-- 기본 대댓글 출력 -->
				
				<div th:each="reply_down:${mainboard.replyList}" 
					th:if="${reply_up.main_reply_no==reply_down.group_no}">
					<div class="rereply">
						<!-- 기본 출력 댓글 --> 
						<div th:id="'reply_no'+${reply_down.main_reply_no}">
							<div class="rereplyProfile tw-mb-2 tw-flex tw-flex-row tw-w-full tw-items-center tw-justify-between">
								<div class="reply-division">
																	
								</div>
								<div class="d-flex flex-column align-self-center">
									<a href="#">	<!-- 프로필 선택 시 프로필 상세정보로 이동 -->
										<img class="align-middle" src="/img/profile.png">
									</a>
								</div>
								<div class="rereply-info">
									<p th:text="${mainboard.userName}"></p>
									<p style="color: #d7d3cd">
										<span th:text="${mainboard.userCompany}"></span>
										 . 
										<span th:text="${#dates.format(reply_down.reply_time, 'yyyy-MM-dd HH:mm')}"></span>
									</p>
									
								</div>
							</div>
							<div class="rereply-contents">
								<p th:text="${reply_down.contents}"></p>
							</div>
							<div th:if="${session.loginUser.user_no==reply_down.user_no}" 
								th:id="${reply_down.main_reply_no}"
								class="rereply-update">
								<button th:onclick="readReplyUpdateForm([[${reply_down.main_reply_no}]])"
									class="btn btn-outline-dark btn-sm" type="button">
									수정하기
								</button>
								
							</div>
						</div>
						
								<!-- 수정 댓글 출력 -->
						<form action="/reply/update" method="post">
							<input type="hidden" name="main_reply_no" th:value="${reply_down.main_reply_no}">
							<input type="hidden" name="mainboard_no" th:value="${mainboard.mainboardNo}">
							<div th:id="'reply_update'+${reply_down.main_reply_no}" style="display: none;">
								<div class="rereplyProfile tw-mb-2 tw-flex tw-flex-row tw-w-full tw-items-center tw-justify-between">
									<div class="reply-division">
																	
									</div>
									<div class="d-flex flex-column align-self-center">
										<a href="#">	<!-- 프로필 선택 시 프로필 상세정보로 이동 -->
											<img class="align-middle" src="/img/profile.png">
										</a>
									</div>
									<div class="rereply-info">
										<p th:text="${mainboard.userName}"></p>
										<p style="color: #d7d3cd">
											<span th:text="${mainboard.userCompany}"></span>
											 . 
											<span th:text="${#dates.format(reply_down.reply_time, 'yyyy-MM-dd HH:mm')}"></span>
										</p>
										
									</div>
								</div>
								<input class="rereply-update-contents w-50" name="contents" id="replyContents" th:value="${reply_down.contents}"></input>
								<div class="rereply-updateform-btn" th:if="${session.loginUser.user_no==reply_down.user_no}" th:id="${reply_down.main_reply_no}">
									<button th:onclick="readReplyUpdateForm([[${reply_down.main_reply_no}]])"
										class="btn btn-outline-secondary btn-sm" type="button">
										취소
									</button>
									<button class="btn btn-outline-primary btn-sm">
										수정하기
									</button>
									<a th:href="@{/reply/delete(main_reply_no=${reply_down.main_reply_no},mainboard_no=${mainboard.mainboardNo})}" class="btn btn-outline-danger btn-sm">
										삭제
									</a>			
							</div> 
						</form>
					</div>
				</div>
			
				<!-- 답글 남기는 폼 -->
				
				<div class="insert-reply">
				  <a class="btn btn-outline-secondary btn-sm" data-bs-toggle="collapse" th:href="${'#collapse'+reply_up.main_reply_no}" th:if="${reply_up.hierarchy==0}">
				    답글 남기기
				  </a>
				</div>
				
				
				
				<div class="collapse" th:id="'collapse'+${reply_up.main_reply_no}">
					<div class="rereply-insert card-body">
						<form name="rereplyInsertForm"
							th:if="${session.loginUser!=null}"
							 action="/reply/insert" method="post">
							<input type="hidden" name="mainboard_no" th:value="${mainboard.mainboardNo}">
							<input type="hidden" name="user_no" th:value="${session.loginUser.user_no}">
							<input type="hidden" name="hierarchy" value=1>
							<input type="hidden" name="group_no" th:value="${reply_up.main_reply_no}">
							
							<div class="rereply-insert-info">
								<div class="replyProfile d-flex flex-column align-self-center">
									<a href="#">	<!-- 프로필 선택 시 프로필 상세정보로 이동 -->
										<img class="align-middle" src="/img/profile.png">
									</a>
								</div>
								<div class="rereply-insert-contents">
									<textarea class="tw-flex-1 tw-border-none tw-outline-none tw-h-6 tw-max-h-20 tw-resize-none tw-p-0 tw-text-sm tw-placeholder-gray-500 false" name="contents" id="replyContents" placeholder="게시글에 대한 이야기를 나눠보세요"></textarea>
									
								</div>
							</div>
							<div class="div-btn">
								<button class="btn btn-sm btn-coral-600">
									<labal>등록</labal>
								</button>
							</div>
						</form>
					</div>
				</div>
  		</div>
</html>