<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<form action="/reply/update" method="post">
	
		<h3>댓글</h3>
				<div class="boardProfile d-flex flex-column align-self-center">
					<a href="#">	<!-- 프로필 선택 시 프로필 상세정보로 이동 -->
						<img class="align-middle" src="/img/profile.png" style="width : 100px; height : 100px">
					</a>
				</div>
				<div>
					<p>작성자 : 
						<span th:text="${mainboard.userName}"></span>
					</p>
					<p>소속 : 
						<span th:text="${mainboard.userCompany}"></span>
					</p>
					
				</div>
				<div>내용 : 
					<p th:text="${reply_up.contents}"></p>
				</div>
				<div th:if="${session.loginUser.user_no==reply_up.user_no}">
					<button th:onclick="readReplyUpdateForm([[${reply_up.main_reply_no}]])"
						class="btn btn-outline-secondary btn-sm" type="button">
						수정하기
					</button>
					
				<!-- 현재 적용되고 있는 버튼 .. 변경중이라 주석처리
					<a th:href="@{/reply/update(main_reply_no=${reply_up.main_reply_no}),mainboard_no=${reply_up.mainboard_no}}" class="btn btn-outline-danger btn-sm">
						수정
					</a>
				 -->
								
				</div>
				<div th:if="${session.loginUser.user_no==reply_up.user_no}">
					<a th:href="@{/reply/delete(main_reply_no=${reply_up.main_reply_no})}" class="btn btn-outline-danger btn-sm">
						랄나란말ㄴㅁㅇ러ㅏㅁ죄거ㅏㄷㅈ모라ㅓㅇ노러ㅏㅗㄴㅁ이ㅏㄹ
					</a>			
				</div>
	
	
		<!-- 
		<h5>댓글 수정 (<span th:text="${reply.userId}"></span>)</h5>
		<input type="hidden" name="boardNo" th:value="${reply.boardNo}"> 
		<input type="hidden" name="replyNo" th:value="${reply.replyNo}"> 
		<input type="hidden" name="userId" th:value="${reply.userId}"> 		
		<p class="input-group">
			<label class="input-group-text" for="replyTitle">제목</label>
			<input th:value="${reply.title}"
				class="form-control" type="text" name="title" id="replyTitle" placeholder="길이가 255 이하로 작성">
		</p>
		<div class="row input-group">
			<p class="col-10 form-floating">
				<textarea th:text="${reply.contents}"
					class="form-control" name="contents" id="replyContents" placeholder="내용"></textarea>
				<label for="replyContents">내용</label>
			</p>
		</div>
		<div class="d-flex justify-content-end">
			<button
			onclick="updateReply(this.form)" 
			type="button" class="btn btn-outline-primary me-2">
				수정
			</button>
			<button 
			th:onclick="deleteReply([[${reply.replyNo}]],[[${reply.boardNo}]])"
			type="button" class="btn btn-outline-danger">
				삭제
			</button>
		</div>
		
		 -->
	</form>

</html>