<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>qnaboardetail</title>
</head>
<body>
	<header th:include="headerNav"></header>
	<main class="container mt-5">
		<h1 class="mt-3">Qna.board detail</h1>
		<div>
		
		
		<p>
				<strong>no : </strong>
				<span th:text="${qnaboard.qaNo}"></span>
			</p>
			<p>
				<strong>글쓴이 : </strong>
				<span th:text="${qnaboard.user.nickname}"></span>
			</p>
			<p>
				<strong>해결여부 : </strong>
				<span th:text="${qnaboard.qa_resolve}"></span>
			</p>
			<p>
				<strong>조회수 : </strong>
				<span th:text="${qnaboard.views}"></span>
			</p>
			<p>
				<strong>게시일 : </strong>
			
				<td th:text="${#dates.format(qnaboard.qaTime,'MM월dd일 HH시mm분')}"></td>
			
			</p>
			
			<p>
				<strong>게시판 번호 : </strong>
			
				<span th:text="${qnaboard.qa_side}"></span>
			</p>
			<p>
				<strong>제목 : </strong>
				<span th:text="${qnaboard.title}"></span>
			</p>
			
			<p>
				<strong>내용 : 
				<span th:text="${qnaboard.contents}"></span>
				</strong>
			</p>
		<div>
			<strong>여기 이미지 
			<img th:each="qaImg:${qnaboard.qaImgList}"
			th:src="@{/img/{file}(file=${qaImg.img_path})}">
		</strong>
		</div>
		

			<div>
		<a th:href="@{/qnaboard/qaupdate.do(qaNo=${qnaboard.qaNo})}">
			수정하기
			</a>
		</div>
			
		<div th:each="qnareply:${qnaboard.qareplyList}">
			<div th:text="${qnareply.qa_reply_no}"></div>
			<div th:text="${qnareply.contents}"></div>
			<div th:text="${qnareply.q_datetime}"></div>
			<div th:text="${qnareply.code}"></div>
			<div th:text="${qnareply.user_no}"></div>
			<div th:text="${qnareply.qa_no}"></div>
		</div>
	</main>
</body>
</html>