
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"><!-- 개발할땐 css 배포할땐 min css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>

<head>
<meta charset="UTF-8">
<title>QNA프로젝트</title>
</head>
<body>
	<header th:include="headerNav"></header>
	<main class="container mt-5">
<div class="container">
		<p class="d-flex justify-content-end">
			<a class="btn btn-outline-primary" href="/qnaboard/qainsert.do">
			글작성</a>
		</p>

	<h1>QNA프로젝트</h1>
		<table>
		<thead>
			<tr>
				<th>no</th>
				<th>제목</th>
				<th>게시일</th>
				<th>글쓴이id</th>
				<th>닉네임</th>
				<th>조회수</th>
				<th>좋아요</th>
				<th>해결여부</th>
				<th>게시판 번호</th>
			
			</tr>
		</thead>
		<tbody>
			<tr class="link-secondary"
				th:onclick="location.href='qadetail.do?qaNo=[[${qnaboard.qaNo}]]'" 
				th:each="qnaboard:${qaList}">
				<td th:text="${qnaboard.qaNo}"></td>
				<td th:text="${qnaboard.title}"></td>
				<td th:text="${#dates.format(qnaboard.qaTime,'MM월dd일 HH시mm분')}"></td>
				<td th:text="${qnaboard.user.user_no}"></td>
				<td th:text="${qnaboard.user.nickname}"></td>
				<td th:text="${qnaboard.views}"></td>
				<td th:text="${qnaboard.likes}"></td>
				<td th:text="${qnaboard.qa_resolve}"></td>
				
				<td th:text="${qnaboard.qa_side}"></td>
			</tr>
		</tbody>
		</table>
			<div class="sidebar">
		<ul>

			<li><a th:href="@{''(searchQnaRoleNo=)}">전체</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=1)}">개발</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=2)}">디자인</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=3)}">PM/PO/기획</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=4)}">기획</a></li>
			
		</ul>
	</div>

</body>
</html>