
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"><!-- 개발할땐 css 배포할땐 min css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>

<head>
<meta charset="UTF-8">
<title>QNA프로젝트</title>
<link rel="stylesheet" href="/css/qnaboard/qalist.css">
</head>
<body>
	<header th:include="headerNav"></header>
	<div th:include="/sideboard/test"></div>

<div class="container">
	<div class="article">
		<div class="d-flex write-bar"> 
			<div class="write">궁금한 내용을 익명으로 자유롭게 질문하세요</div>
			<a class="btn" href="/qnaboard/qainsert.do">
			글작성</a>
		</div>


			<div class="contents"
				th:onclick="location.href='qadetail.do?qaNo=[[${qnaboard.qaNo}]]'" 
				th:each="qnaboard:${qaList}">
				<div class="article-header">
				
					<div th:if="${qnaboard.qa_resolve==1}" class="state-check">
						<p class="q-solve">Q. </p>
					</div>
					<div th:if="${qnaboard.qa_resolve==0}" class="state-check">
						<p class="q-notsolve">Q.</p>
					</div>
					<p th:text="${qnaboard.title}" class="title"></p>
				</div>
				<div class="article-mid">
					<p th:text="${qnaboard.contents}"></p>
				</div>
				<div class="views">
					<p>조회수&nbsp;&nbsp;</p>
					<p th:text="${qnaboard.views}"></p>
				</div>

			</div>
	</div>

</div>
<!-- 			<div class="sidebar">
		<ul>

			<li><a th:href="@{''(searchQnaRoleNo=)}">전체</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=1)}">개발</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=2)}">디자인</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=3)}">PM/PO/기획</a></li>
			<li><a th:href="@{''(searchQnaRoleNo=4)}">기획</a></li>
			
		</ul>
	</div> -->
</body>
</html>