@charset "UTF-8";

.container{

	padding :20px;
	width:70%;
	display:flex;
	color:#333;
}
.article-content{
/* 	border:1px solid black; */
	margin-right:25%;
	width:75%;
	height:100%;
}
.form{
	border:1px solid #ccc;
	width:90%;
	color:  #bbb;
	padding:5px;
	
}