<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>이메일/비밀번호 찾기</title>
<link rel="stylesheet" href="/css/login.css" />
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />
<script defer="defer" src="/js/findEmailPassword.js"></script>
</head>

<body>
	<!-- <header th:include="headerNav"></header> -->
	<div class="contn">
		<div class="main-contn">
			<h1>
				<strong>이메일/비밀번호 찾기</strong>
			</h1>
			<ul class="nav nav-tabs">
				<li class="nav-item"><a class="nav-link active"
					data-toggle="tab" href="#find-id">이메일 찾기</a></li>
				<li class="nav-item"><a class="nav-link" data-toggle="tab"
					href="#find-password">비밀번호 찾기</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane fade show active" id="find-id">
					<form action="/user/findEmailPassword.do" method="POST">
						<div>
							<label for="name">이름</label> 
							<input type="text" id="nameE"
								class="" name="fName" placeholder="이름 입력" value="" required/>
						</div>
						<div>
							<label for="phone">전화번호</label> 
							<input type="password" id="phoneE"
								class="" name="fPhone" placeholder="전화번호 입력" value="" required/>
							<p id="phoneNbChkE"></p>
						</div>
						<div>
							<label for="birthday">생년월일</label> 
							<input type="date"
								id="birthdayE" class="" name="fBirth" placeholder="생년월일 입력"
								value="" required/>
						</div>
						<div>
							<button type="submit" class="find-e-p-subbtn">이메일 찾기</button>
						</div>
					</form>
				</div>
				<div class="tab-pane fade" id="find-password">
					<form action="/user/findEmailPassword.do" method="POST">
						<div>
							<label for="email">이메일</label> 
							<input type="email" id="email"
								class="emailFindInput" name="fEmail" pattern="/^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$/" 
								placeholder="이메일 입력" value="" required/>
							<p id="emailChkfindE"></p>
						</div>
						<div>
							<label for="name">이름</label> 
							<input type="text" id="nameP"
								class="" name="fName" placeholder="이름 입력" value="" required/>
						</div>
						<div>
							<label for="phone">전화번호</label> 
							<input type="password" id="phoneP"
								class="" name="fPhone" placeholder="전화번호 입력" value="" required/>
							<p id="phoneNbChkP"></p>
						</div>
						<div>
							<label for="birthday">생년월일</label> 
							<input type="date" value=""
								id="birthdayP" class="" name="fBirth" placeholder="생년월일 입력" required/>
						</div>
						<div>
							<button type="submit" class="find-e-p-subbtn">비밀번호 찾기</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<footer>
			<div>푸터</div>
		</footer>
	</div>
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

	<script src="http://code.jquery.com/jquery-latest.js"></script>
</body>
</html>