<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<header th:include="headerNav"></header>
  <div class="contn">
    <!-- <div class="child-contn"> -->
    <div class="main-contn">
      <h1><strong>이메일/비밀번호 찾기</strong></h1>
      <div style="text-align:center; margin: 128px 0;">
        회원님의 이메일은 <span th:text="${email}"></span> 입니다.
      </div>
      <div class="find-e-success">
        <a href="/user/login.do" class="find-e-success-btn">로그인하러 가기</a>
        <a href="/user/findEmailPassword.do" class="find-e-success-btn">비밀번호 찾기</a>
      </div>
    </div>
    <footer>
      <div>푸터</div>
    </footer>
    <!-- </div> -->
  </div>
    <th:block th:if="${session.msg!=null}">
		<script th:inline="javascript">
		let msg = /*[[${session.msg}]]*/ + "";
		alert(msg);
		/*[[${#session.removeAttribute('msg')}]] */
		</script>
	</th:block>
</body>

</html>