<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
	<header th:include="headerNav"></header>
  <div class="contn">
    <div class="main-contn">
      <h1><strong>이메일/비밀번호 찾기</strong></h1>
      <div style="text-align:center; margin: 128px 0;">
        <!-- 회원님의 비밀번호는 <span th:text="${pw}"></span> 입니다. -->
        회원님의 이메일로 임시 비밀번호를 보냈습니다.<br>
        이메일을 확인해주세요.<br>
        <!-- if -->
        <a href="/gmail" target="_blank">Gmail➡</a><br>
        <a href="/naverMail" target="_blank">Naver➡</a>
      </div>
      <div class="find-e-success">
        <a href="/user/login.do" class="find-e-success-btn">로그인하러 가기</a>
      </div>
    </div>
    <footer>
      <div>푸터</div>
    </footer>
  </div>
</body>

</html>