<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css" />
</head>

<body>
  <div class="contn">
    <!-- <div class="child-contn"> -->
    <nav class="nav-contn">
      <div class="logo"><a th:href="@{/}">로고</a></div>
    </nav>
    <div class="main-contn">
      <h1><strong>이메일/비밀번호 찾기</strong></h1>
      <div style="text-align:center; margin: 128px 0;">
        입력하신 정보에 맞는 회원이 없습니다. <br>
        다시 확인해주세요.
      </div>
      <div class="find-e-success">
        <a th:href="@{/user/findEmailPassword.do}" class="find-e-fail-btn">뒤로가기</a>
      </div>
    </div>
    <footer>
      <div>푸터</div>
    </footer>
    <!-- </div> -->
  </div>
    <th:block th:if="${session.msg!=null}">
		<script th:inline="javascript">
		let msg = /*[[${session.msg}]]*/ + "";
		alert(msg);
		/*[[${#session.removeAttribute('msg')}]] */
		</script>
	</th:block>
</body>

</html>