<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>Document</title>
  <link rel="stylesheet" href="/css/login.css" />
  <script defer="defer" src="/js/userLogin.js"></script>
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<meta charset="UTF-8">
<script defer="defer" src="/js/login.js"></script>
<title>Insert title here</title>
</head>
<body>
  <header th:include="headerNav"></header>
  <div class="contn">
    <div class="main-contn">
      <h1><strong>로그인</strong></h1>
      <form action="/user/login.do" method="POST">
        <div>
          <label for="email">이메일</label>

          <input type="email" id="email" name="email" 
          class="" placeholder="이메일 입력" value=""/>
          <p></p>

        </div>
        <div>
          <label for="password">비밀번호</label>
          <input type="password" id="pw" name="pw" class="" placeholder="비밀번호 입력" value=""/>
        </div>
        <div>
          <button type="submit" class="login-btn">로그인</button>
        </div>
      </form>
      <div>
      	<a href="/user/signup.do" class="signup-btn">회원가입</a>
        <div class="login-triple-menu">
          <a href="/user/findEmailPassword.do">이메일/비밀번호 찾기</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>