<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <title>비밀번호 변경</title>
  <link rel="stylesheet" href="/css/login.css" />
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
  <meta charset="UTF-8">
  <script defer="defer" src="/js/modifyPassword.js"></script>
</head>
<body>
<!--   <header th:include="headerNav"></header> -->
  <div class="contn">
    <div class="main-contn">
      <h1><strong>비밀번호 변경</strong></h1>
      <form action="/user/modifyPassword.do" method="POST">
		 <div>
          <label for="originPassword">기존 비밀번호</label>
          <input type="password" id="originPassword" name="originPw" class="" placeholder="기존 비밀번호 입력"/>
          <p id="originPasswordValidChk"></p>
        </div>
        <div>
          <label for="newPassword">새 비밀번호</label>
          <input type="password" id="newPassword" name="newPw" class="" placeholder="새 비밀번호 입력"/>
			<p id="newPasswordValidChk"></p>
        </div>
        <div>
          <label for="chkNewPassword">새 비밀번호 확인</label>
          <input type="password" id="chkNewPassword" name="chkNewPw" class="" placeholder="새 비밀번호 한 번 더 입력"/>
			<p id="chkNewPasswordValidChk"></p>
        </div>
        <div>
          <button type="submit" class="login-btn">변경하기</button>
        </div>
      </form>
    </div>
  </div>
</body>
</html>