<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입</title>
    <link rel="stylesheet" href="/css/signup.css">
    <script src="/js/signup.js" defer="defer"></script>
    <script src="/js/items.js" defer="defer"></script>
</head>
<body>
<header th:include="/headerNav"></header>

<form action="/user/insert.do" id="signupForm" method="post">
    <div class="signupForms" id="accountInfo">
        <h1>계정 정보</h1>
        <div id="accountInfoForm">
            <h1>회원가입</h1>
            <label>
                <input class="form-control" type="text" name="email" placeholder="example@naver.com" value="">
                <div class="invalid-feedback" id="emailInvalid"></div>
            </label>

            <label>
                <input class="form-control" type="password" name="pw" placeholder="비밀번호(영문 대소문자 및 숫자 포함 8~15글자)" value="">
                <div class="invalid-feedback" id="pwInvalid"></div>
            </label>

            <label>
                <input class="form-control" type="password" name="pwCheck" placeholder="비밀번호 확인" value="">
                <div class="invalid-feedback" id="pwCheckInvalid"></div>
            </label>
        </div>
        <button type="button" class="rBtn">다음</button>
    </div>

    <div class="signupForms userInfo" id="userInfo1">
        <h1>회원 정보<br>(필수)</h1>
        <div class="userInfoForm" id="userInfo1Form">
            <h1>회원 정보(필수)</h1>
            <label>
                <input type="text" name="user_name" placeholder="이름">
            </label>

            <label>
                <input class="form-control" type="text" name="nickname" placeholder="닉네임" value="">
                <div class="invalid-feedback" id="nicknameInvalid"></div>
            </label>

            <label>
                <input type="date" name="birth">
            </label>

            <label>
                <input class="form-control" maxlength="11" type="text" name="phone" placeholder="휴대폰 번호" value="">
                <div class="invalid-feedback" id="phoneInvalid"></div>
            </label>

            <div id="sex">
                <input type="radio" name="sex" value="M" id="male" placeholder="남성" checked><label for="male">남성</label>
                <input type="radio" name="sex" value="F" id="female" placeholder="여성"><label for="female">여성</label>
            </div>
        </div>
        <button type="button" class="lBtn">이전</button>
        <button type="button" class="rBtn">다음</button>
    </div>
    
    <div class="signupForms userInfo" id="userInfo2">
        <h1>회원 정보<br>(선택)</h1>
        <div class="userInfoForm" id="userInfo2Form">
            <h1>회원 정보(선택)</h1>
            <label>
                <input type="text" name="company" placeholder="소속">
            </label>
            
            <label>
                <input type="text" name="career" placeholder="경력">
            </label>
            
            <label>
                <textarea type="text" name="aboutme" placeholder="자기소개"></textarea>
            </label>

        </div>
        <button type="button" class="lBtn">이전</button>
        <button type="button" class="rBtn">다음</button>
    </div>
    
    <div class="signupForms userInfo" id="userInfo3">
        <h1 style="display: inline-block; margin-bottom:0;">키워드 선택</h1>
        <div id="userInfo3Form" class="userInfoForm">
        
	        <div style="padding-bottom: 20px;">
	            <h1 class="key-select" style="margin-bottom:0px; padding-bottom:0px;">키워드 선택</h1>
	            
				
				<div id="selecedKeyword" style="padding-top: 10px; border-top: 1px solid #000;">
					<!-- 유저 키워드 목록 -->			
				</div>
	            <!-- Button trigger modal -->
				<button th:onclick="getKeywordList('keywordList', 1)" type="button" class="btn btn-outline-secondary listBtn" data-bs-toggle="modal" data-bs-target="#exampleModal">
				  키워드 추가 +
				</button>
	        </div>
	        
	        <div style="padding-bottom: 20px;">
	            <h1 class="key-select" style="margin-bottom:0px; padding-bottom:0px;">스킬 선택</h1>
	            
				
				<div id="selecedSkill" style="padding-top: 10px; border-top: 1px solid #000;">
					<!-- 유저 스킬 목록 -->			
				</div>
	            <!-- Button trigger modal -->
				<button th:onclick="getSkillList('skillList', 1)" type="button" class="btn btn-outline-secondary listBtn" data-bs-toggle="modal" data-bs-target="#skillModal">
				  스킬 추가 +
				</button>
	        </div>
	        
	        <div>
	            <h1 class="key-select" style="margin-bottom:0px; padding-bottom:0px;">자격증 선택</h1>
	            
				
				<div id="selecedLicense" style="padding-top: 10px; border-top: 1px solid #000;">
					<!-- 유저 자격증 목록 -->			
				</div>
	            <!-- Button trigger modal -->
				<button th:onclick="getLicenseList('licenseList', 1)" type="button" class="btn btn-outline-secondary listBtn" data-bs-toggle="modal" data-bs-target="#licenseModal">
				  자격증 추가 +
				</button>
	        </div>
        
        </div>
            
            
            
		<!-- 키워드 Modal -->
		<div class="modal fade listDiv" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="exampleModalLabel">키워드 목록</h5>
		        <button type="button" class="btn-close listBtn" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" id="keywordList">
		      	<ul class="list-group">
		      		<!-- 키워드 목록 -->
		      	</ul>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 스킬 Modal -->
		<div class="modal fade listDiv" id="skillModal" tabindex="-1" aria-labelledby="skillModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="skillModalLabel">스킬 목록</h5>
		        <button type="button" class="btn-close listBtn" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" id="skillList">
		      	<ul class="list-group">
		      		<!-- 스킬 목록 -->
		      	</ul>
		      </div>
		    </div>
		  </div>
		</div>
		
		<!-- 자격증 Modal -->
		<div class="modal fade listDiv" id="licenseModal" tabindex="-1" aria-labelledby="licenseModalLabel" aria-hidden="true">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h5 class="modal-title" id="licenseModalLabel">자격증 목록</h5>
		        <button type="button" class="btn-close listBtn" data-bs-dismiss="modal" aria-label="Close"></button>
		      </div>
		      <div class="modal-body" id="licenseList">
		      	<ul class="list-group">
		      		<!-- 자격증 목록 -->
		      	</ul>
		      </div>
		    </div>
		  </div>
		</div>
			
        <button type="button" class="lBtn">이전</button>
        <button class="rBtn" type="submit" disabled="disabled" style="background-color: #ddd">완료</button>
    </div>
</form>

</body>
</html>