@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Noto+Sans+KR:wght@100;300;400;500&family=Noto+Serif+KR:wght@200;300;400;500;600&family=Raleway:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap');

body {
	font-family: 'Noto Sans KR';
	background-color: #f7f7f7;
	margin: 0;
}

#MainBoardInsert_Form {
	background-color: #fff;
	text-align: center;
	max-width: 768px;
	margin: 0 auto;
	border-collapse: collapse;
}

#MainBoardInsert_Form div {
	border: 1px solid lightgray;
}

#MainBoardInsert_Form img {
	cursor: pointer;
	width: 24px;
	height: 24px;
}

#MainBoardInsert_Form #MainBoardNav {
	padding: 12px;
	display: flex;
	justify-content: space-between;
	border-bottom-style: none;
}

#MainBoardInsert_Form #MainBoardNav div {
	border-style: none;
}

#MainBoardInsert_Form #MainBoardNav div button {
	cursor: pointer;
	padding: 8px 12px;
	border: 1px solid lightgray;
	border-radius: 5px;
	margin-left: 7px;
	font-weight: 600;
}

#MainBoardInsert_Form #MainBoardNav div button:first-child {
	background-color: #fff;
	color: rgb(237,102,83);
	border-style: none;
}

#MainBoardInsert_Form #MainBoardNav div button:first-child:hover {
	background-color: rgb(130 220 246/0.5);
}

#MainBoardInsert_Form #MainBoardNav div button:nth-child(2) {
	background-color: #FFFFFF;
	color: #F8C7C0;
}

#MainBoardInsert_Form #MainBoardNav div button:last-child {
	background-color: rgb(248,194,186);
	color: #fff;
}

#MainboardAddFile {
	padding: 10px;
	display: flex;
	margin-bottom: 5px;
}

#MainboardAddFile img {
	justify-content: flex-start;
	margin: 3px 20px 3px 5px;
}

#MainBoardInsert_Form #Mainboard {
	border-style: none;
	padding: 10px;
	height: 100vh;
	border-left: 1px solid lightgray;
	border-right: 1px solid lightgray;
}

#Mainboard #MainboardTitle {
	cursor: pointer;
	width: 600px;
	border-style: none;
	border-bottom: 1px solid lightgray;
	margin: 0 auto;
	padding: 15px;
	display: flex;
	justify-content: flex-start;
}

#Mainboard #MainboardTitle input {
	width: inherit;
	padding: 10px;
	font-size: 20px;
	font-weight: bold;
	border: none;
}

#Mainboard #MainboardTitle input::placeholder {
	color: #c7c7c5;
}

#Mainboard #MainboardTitle input:focus {
	border: none;
	outline: none;
}

#Mainboard #MainboardContents {
	width: 630px;
	margin: 0 auto;
	padding: 10px;
	height: inherit;
	border-style: none;
}

#Mainboard #MainboardContents textarea {
	box-sizing: border-box;
	resize: none;
	padding: 10px;
	width: inherit;
	height: inherit;
	border-style: none;
}

#Mainboard #MainboardContents textarea::placeholder {
	color: #C7C7C7;
	font-family: 'Noto Sans KR';
}

#Mainboard #MainboardContents textarea:focus {
	outline: none;
}