@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');

main {
	font-family: 'Noto Sans KR';
	background-color: #f7f7f7;
	width: 100%;
	height: 100vh;
}

main #mainboardInsert {
	position: absolute;
	top: 10.2%;
	left: 22%;
	display: flex;
	border: 1px solid #dbdbdb;
	background-color: #fff;
	width: 800px;
	padding: 25px;
}

main #mainboardInsert #userProfile img {
	margin-top: 10px;
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

main #mainboardInsert #insertPlaceholder {
	margin-left: 15px;
	padding: 15px;
	width: 600px;
	background-color: #f7f7f7;
	border-radius: 10px;
	text-decoration: none;
}

main #mainboardInsert #insertPlaceholder span {
	color: #b6b6b8;
}

main .post-container {
	border: 1px solid #dbdbdb;
	width: 800px;
	height: 550px;
	margin: 0 auto;
	position: absolute;
	top: 27%;
	left: 22%;
	background-color: #fff;
}

main .post-container .boardInfo {
	display: flex;
	height: 70px;
	margin: 0;
}

main .post-container .boardInfo .boardProfile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 20px;
}

main .post-container .boardInfo .userInfo {
	float: left;
	margin-right: 300px;
}

main .post-container .boardInfo .userInfo p {
	margin-top: 15px;
	margin-bottom: 1px;
}

main .post-container .boardInfo .followBtn {
	position: absolute;
	top: 3%;
	right: 3%;
}

main .post-container .boardInfo .followBtn button {
	cursor: pointer;
	width: 60px;
	padding: 8px;
	background-color: #ffeeec;
	border: none;
	color: #e993a0;
	font-size: 13px;
}

main .post-container .boardMain .boardTitle p span {
	margin: 20px 10px;
}

main .post-container .boardMain .boardContents p span {
	margin: 20px 10px;
}

main .post-container .boardMain .boardFile {
	padding: 20px;
	margin-top: 160px;
	margin-bottom: 30px;
	width: 700px;
	background-color: #f7f7f7;
	display: flex;
	justify-content: space-between;
	margin-left: auto;
	margin-right: auto;
}	

main .post-container .boardData {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

main .post-container .boardData a {
	text-decoration: none;
	color: #d7d3cd;
	font-size: 10px;
	margin-top: 0;
}

main .post-container .boardData .boardView span {
	font-size: 10px;
}

main .post-container .boardBtn {
	display: flex;
	margin-top: 5px;
}

main .post-container .boardBtn button {
	border: none;
	background-color: #fff;
	color: #b4b4b2;
}

main .post-container .boardBtn .boardPrefer {
	margin-left: 20px;
}

main .post-container .boardBtn .boardComment {
	margin-right: 20px;
}

main .post-container .boardBtn .boardComment img {
	width: 30px;
	height: 30px;
}






