<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>
<body class="pt-5">
	<!-- <header th:include="/headerNav"></header> -->
	<nav class="navbar navbar-expand-sm bg-white fixed-top" id="headerNav">
		<div class="container-fluid vw-100 mx-auto ms-5" id="subMenu">
	    	<a class="navbar-brand text-muted" href="/">Fakely</a>
	    		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      			<span class="navbar-toggler-icon"></span>
	    		</button>
	    	<div class="collapse navbar-collapse" id="navbarSupportedContent">
	      		<ul class="navbar-nav me-auto mb-2 mb-lg-0">
	        		<li class="nav-item">
	          			<a class="nav-link active text-muted" aria-current="page" href="/mainboard/main">메인게시판</a>
	        		</li>
	        		<li class="nav-item">
	          			<a class="nav-link text-muted" href="/sideboard/list.do">사이드 프로젝트</a>
	        		</li>
	        		<li class="nav-item">
	          			<a class="nav-link text-muted" href="/qnaboard/qalist.do">Q&A</a>
	        		</li>
	        	</ul>
	    	</div>
	    	<div id="headerProfile">
	    		<div class="btn-group">
	    			<th:block th:if="${session.loginUser!=null}">
						<button type="button" class="btn btn-light dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<!-- 이미지 있으면 이미지 불러올 예정 -->
							<span th:text="|${session.loginUser.user_name}님|"></span>
						</button>
					</th:block>
					<th:block th:unless="${session.loginUser!=null}">
						<a href="/user/login.do" type="button" class="btn btn-light" >
							로그인
						</a>
					</th:block>
					<ul class="dropdown-menu">
				    	<li><a class="dropdown-item" href="#">프로필</a></li>
				    	<li><a class="dropdown-item" href="/user/logout.do">로그아웃</a></li>
				    	<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="#">문의하기</a></li>
				  	</ul>
				</div>
	    	</div>
	  	</div>
	</nav>
	<th:block th:if="${session.msg!=null}">
		<script th:inline="javascript">
		let msg=/*[[${session.msg}]]*/+"";
		alert(msg);
		/*[[${#session.removeAttribute('msg')}]]*/
		</script>
	</th:block>
</body>
</html>