@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400&display=swap');
/* 기능구현 먼저라 css main꺼 가져오기까지만 진행*/
main {
	font-family: 'Noto Sans KR';
	width: 100%;
	height: 100vh;
}




main .post-container {
	border: 1px solid #dbdbdb;
	margin: 0 auto;
	background-color: #fff;
	margin-bottom: 20px;
}

main .post-container .boardInfo {
	display: flex;
	height: 70px;
	margin: 0;
}

main .post-container .boardInfo .boardProfile img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 20px;
}

main .post-container .boardInfo .userInfo {
	float: left;
	margin-right: 425px;
}

main .post-container .boardInfo .userInfo p {
	margin-top: 15px;
	margin-bottom: 1px;
}

main .post-container .boardInfo .followBtn {
	margin-left: auto;
}

main .post-container .boardInfo .followBtn button {
	cursor: pointer;
	width: 60px;
	padding: 8px;
	background-color: #ffeeec;
	border: none;
	color: #e993a0;
	font-size: 13px;
}

main .post-container .boardMain .boardTitle p span {
	margin: 20px 10px;
}

main .post-container .boardMain .boardContents p span {
	margin: 20px 10px;
}

main .post-container .boardMain .boardFile {
	padding: 20px;
	margin-top: 160px;
	margin-bottom: 30px;
	width: 700px;
	display:flex;
	background-color: #f7f7f7;
	margin-left: auto;
	margin-right: auto;
	flex-direction: column;
}	

main .post-container .boardMain .boardFile .boardLink{
	margin-bottom: 20px;
	text-align: center;
	
}


main .post-container .boardMain .boardFile .boardImg{
	text-align: center;
}

main .post-container .boardData {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
}

main .post-container .boardData a {
	text-decoration: none;
	color: #d7d3cd;
	font-size: 10px;
	margin-top: 0;
}

main .post-container .boardData .boardView span {
	font-size: 10px;
}

main .post-container .boardBtn {
	display: flex;
	margin-top: 5px;
}

main .post-container .boardBtn button {
	border: none;
	background-color: #fff;
	color: #b4b4b2;
}

main .post-container .boardBtn .boardPrefer {
	margin-left: 20px;
}

main .post-container .boardBtn .boardComment {
	margin-right: 20px;
}

main .post-container .boardBtn .boardComment img {
	width: 30px;
	height: 30px;
}

main .reply-container{
	border: 1px solid #dbdbdb;
	margin: 0 auto;
	
}

main .reply-container .reply-insert{
	border: 1px solid #dbdbdb;
	margin-bottom:10px;
	background-color: #fff;
}


main .reply-container .reply-insert .reply-info{
	display:flex;
}

main .reply-container .reply-insert .reply-insert-contents{
	width:100%;
	height:100%;
}
main .reply-container .reply-insert .reply-insert-contents textarea{
	border: none;
	width:100%;
	height:100%;
}


main .reply-container .reply-insert .reply-info .replyProfile img{
	width: 30px;
	height: 30px;
	border-radius: 50%;
	margin:20px;
}

main .reply-container .reply-insert div .btn{
	display:flex;
	margin-left: auto;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 5px;
	color:#fff;
	background-color: #e993a0;
	border: 1px solid #dbdbdb;
}





