
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css"><!-- 개발할땐 css 배포할땐 min css -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
<script src="/bootstrap/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/sideboard/update.css">
<head>
<meta charset="UTF-8">
<title>사이드 프로젝트</title>
</head>
<body>

	<div class="container">

	<form action="/sideboard/update.do" method="post">
		<input type="hidden" name="sideBoardNo" th:value="${side.sideBoardNo}">
		<input type="hidden" name="user_no" th:value="${side.user.user_no}">
		<div class="content">
		<p>
			<input type="radio" name="state" value=1 th:checked="${side.state==1}">모집 중
			<input type="radio" name="state" value=0 th:checked="${side.state==0}">모집 완료
		</p>
<!-- 			<span th:if="${side.state == 1}">모집중</span>
			<span th:if="${side.state == 0}">모집 완료</span> -->
			<p>
				<input class="title" name="title" th:value="${side.title}" placeholder="제목 입력">
			</p>
			<!-- <span th:text="${side.title}"></span> -->
			<p>
			<p class="title2">요약<p>
				<textarea class="summ" name="summ" th:text="${side.summ}" placeholder="프로젝트 요약을 입력하세요. &#10;&#10;예시 - 온/오프라인으로 달리기 모임을 만들고 찾을 수 있는 앱을 기획 중입니다.&#13;&#10;현재 기획자 1명, 백엔드 개발자 1명이 있고, 함께 하실 디자이너와 프론트 개발자를 찾고 있어요!"></textarea>
			</p>
			<p class="title2">모집역할</p>
			<div class="roles">
				<div th:each="role:${rolesList}">
						<label>
							<input
							th:checked=${role.checked}	
							 type="checkbox" name="roleNo" th:value=${role.sideRoleNo} th:text="${role.roleName}">
						</label>
				</div>
			</div>
			<div>
				<p class="title2">목적</p>
				<div class="purpose">
					<input type="radio" name="purpose" value="수익창출" th:checked="${side.purpose=='수익창출'}">수익창출
					<input type="radio" name="purpose" value="포트폴리오" th:checked="${side.purpose=='포트폴리오'}">포트폴리오
					<input type="radio" name="purpose" value="재미" th:checked="${side.purpose=='재미'}">재미
					<input type="radio" name="purpose" value="네트워킹" th:checked="${side.purpose=='네트워킹'}">네트워킹
					<input type="radio" name="purpose" value="직무역량강화" th:checked="${side.purpose=='직무역량강화'}">직무역량강화
				</div>

			</div>
			<div>
			
				<p class="title2">참여시간</p>
				<div class="attend">
					<input type="radio" name="attend" value="매주 4시간 이하" th:checked="${side.attend=='매주 4시간 이하'}">매주 4시간 이하
					<input type="radio" name="attend" value="매주 4-10시간" th:checked="${side.attend=='매주 4-10시간'}">매주 4-10시간
					<input type="radio" name="attend" value="매주 10시간 이상" th:checked="${side.attend=='매주 10시간 이상'}">매주 10시간 이상
				</div>
				
			</div>
			<div class="title2">소개
				<div>
					<textarea class="intro" name="intro" th:text="${side.intro}" placeholder="소개 입력"></textarea>
				</div>
			</div>
<!-- 			목적:<span th:text="${side.purpose}"></span> -->
<!-- 			참여시간:<span th:text="${side.attend}"></span> -->
			<div class="title2">
				모집 링크
				<div>
					<input class="sup" name="sup" th:value="${side.sup}" placeholder="신청 할수있는 링크를 입력해주세요 ex) 카카오톡 오픈채팅">
				</div>
			</div>




		</div>
		<div class="d-flex justify-content-end">
			<button class="update">
			수정하기
			</button>
			<a class="delete" th:href="@{/sideboard/delete.do(sideBoardNo=${side.sideBoardNo})}">삭제하기</a>
			
		</div>
	</form>
	</div>
</body>
</html>